@import "tailwindcss";

@theme {
    --color-bg-navbar: #252526;
    --color-text: #EDEEEE;
    --color-detalles: #FA576A;
    --color-detalles-palido: #A6454F;
    --color-gris: #333334;
    --color-fondo-gris: #1F1F1F;
    --color-gris-claro: #626262;
    --color-subtext: #AEAEAE;
}

hr {
    border-top: 1.5px solid var(--color-gris);
}